@model IEnumerable<Materias>
@{
    ViewData["Title"] = "Materias";
}
<div class="alerts">
    @if (!string.IsNullOrEmpty(ViewBag.sms))
    {
        <div id="successAlert" class="successAlert hide">
            <span class="material-symbols-outlined">
                check_circle
            </span>
            <span class="msg">¡Correcto!</span>
            <p>@ViewBag.sms</p>
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.smsEditar))
    {
        <div id="successAlert" class="successAlert hide">
            <span class="material-symbols-outlined">
                check_circle
            </span>
            <span class="msg">¡Correcto!</span>
            <p>@ViewBag.smsEditar</p>
        </div>
    }
</div>

<div id="alert"></div>
<div id="deleteAlert"></div>

<div class="table-container">
    <h1>Materias</h1>
    <a asp-action="Crear" class="btn primary" style="padding: 12px;">Crear nuevo</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var materia in Model)
            {
                <tr>
                    <td>
                        @materia.Nombre
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@materia.Id" class="btn primary">
                            <span class="material-symbols-outlined" style="font-size: 20px;">
                                edit
                            </span>
                        </a>
                        <a onclick="eliminar(@materia.Id)" class="btn danger" style="margin-left: 10px;">
                            <span class="material-symbols-outlined" style="font-size: 20px;">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/js/ShowAlerts.js" asp-append-version="true"></script>
    <script>var url = '@Url.Action("BorrarMateria", "Materias")';</script>
</div>

<script src="~/js/VistaMaterias/EliminacionMaterias.js"></script>
