@model IEnumerable<EducationLevel>

@{
    ViewData["Title"] = "Niveles educativos";
}
<link rel="stylesheet" href="~/css/Forms.css" />
<link rel="stylesheet" href="~/css/Alerts.css" />
<link rel="stylesheet" href="~/css/Tables.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Modal.css" />
<div class="alerts">
    @if (!string.IsNullOrEmpty(ViewBag.sms))
    {
        <div id="successAlert" class="successAlert hide">
            <span class="material-symbols-outlined">
                check_circle
            </span>
            <span class="msg">¡Correcto!</span>
            <p>@ViewBag.sms</p>
        </div>
    }  
    @if (!string.IsNullOrEmpty(ViewBag.smsEditar))
    {
        <div id="successAlert" class="successAlert hide">
            <span class="material-symbols-outlined">
                check_circle
            </span>
            <span class="msg">¡Correcto!</span>
            <p>@ViewBag.smsEditar</p>
        </div>
    }
</div>

<div id="alert"></div>
<div id="deleteAlert"></div>

<!--ALERTA ELIMINACION EXITOSA-->
<!--<div class="alertaEliminar">
    <div class="eliminar">
        <h2>¡Correcto!</h2>
        <p>El nivel educativo se ha eliminado exitosamente</p>
        <div class="acciones">
            <button class="btn secondary">Aceptar</button>
        </div>
    </div>
</div>-->




<div class="table-container">
    <h1>NIVELES EDUCATIVOS</h1>
    
    <a asp-action="Create" class="btn primary" style="padding: 12px;">Crear nuevo</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Costo inscripción</th>
                <th>Costo colegiatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var educationLevel in Model)
            {
                <tr>
                    <td>
                        @educationLevel.Nombre
                    </td>
                    <td>
                        $@educationLevel.CostoInscripcion
                    </td>
                    <td>
                        $@educationLevel.CostoColegiatura
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@educationLevel.Id" class="btn primary">
                            <span class="material-symbols-outlined" style="font-size: 20px;">
                                edit
                            </span>
                        </a>
                        <a onclick="eliminar(@educationLevel.Id)" class="btn danger" style="margin-left: 10px;">
                            <span class="material-symbols-outlined" style="font-size: 20px;">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/js/ShowAlerts.js" asp-append-version="true"></script>
</div>

<script >
    
    const eliminarRegistro = async (id) => {
        var formData = new FormData();
        formData.append('id', id);
        console.log(id);
        const requestOptions = {
            method: 'POST',
            body: formData
        };
        const api = await fetch('@Url.Action("BorrarNivelEducativo", "EducationLevel")', requestOptions)

        const resultado = await api.json();
        
        if (resultado.status === 200){
                const deleteAlert = `
                    <div class="alertaEliminar">
                        <div class="eliminar">
                            <h2>¡Correcto!</h2>
                            <p>El nivel educativo se ha eliminado exitosamente</p>
                            <div class="acciones">
                                   <button class="btn secondary" onclick="window.location.reload()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                `;

                document.getElementById('deleteAlert').innerHTML = deleteAlert
                /*setTimeout(function(){
                    window.location.reload();
                }, 2000);*/
            //window.location.reload();
        }
            
    }

    const cancelar = async (id) => {


        document.getElementById('alert').innerHTML = '';

    }

    const eliminar = (id) => {
        const alert = `
            <div class="modalContainer">
                <div class="modal">
                    <h2>Eliminar nivel educativo</h2>
                    <p>¿Está seguro de eliminar el nivel educativo</p>
                    <div class="acciones">
                        <button class="btn secondary" onclick="cancelar()">Cancelar</button>
                        <button class="btn danger" onclick='eliminarRegistro(${id})'>Eliminar</button>
                    </div>
                </div>
            </div>
         `;
        document.getElementById('alert').innerHTML = alert;
        console.log('id', id);
    }

</script>